.div-details {
    top:0;
    -webkit-box-shadow: 15px 15px 37px 15px #000000; 
    box-shadow: 15px 15px 37px 15px #000000;
    background-color: blueviolet;
    border-radius: 20px;
    
}

.absolute {
    position:absolute;
    top:0;
    
  
}

.cover {
    -webkit-box-shadow: 15px 15px 37px 8px #000000; 
    box-shadow: 15px 15px 37px 8px #000000;
    border-radius: 20px;
  
}



.relative {
    position:relative;
    top:0;
   
    
}